{
 "openapi": "3.0.1",
 "info": {
  "title": "HubSpot Conversations API",
  "version": "2026-09",
  "description": "HubSpot Conversations API — merged from the vendor's per-API OpenAPI documents."
 },
 "servers": [
  {
   "url": "https://api.hubapi.com"
  }
 ],
 "paths": {
  "/conversations/v3/conversations/actors/batch/read": {
   "post": {
    "tags": [
     "Public_Actor"
    ],
    "summary": "Get a group of actors",
    "description": "Resolve a set of `ActorId`s to the underlying actors/participants.",
    "operationId": "post-/conversations/v3/conversations/actors/batch/read",
    "parameters": [
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the actor response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsInboxMessagesBatchInputString"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesBatchResponsePublicActor"
        }
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesBatchResponsePublicActorWithErrors"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/actors/{actorId}": {
   "get": {
    "tags": [
     "Public_Actor"
    ],
    "summary": "Get a single actor",
    "description": "Retrieve details of a single actor using the actor ID.",
    "operationId": "get-/conversations/v3/conversations/actors/{actorId}",
    "parameters": [
     {
      "name": "actorId",
      "in": "path",
      "description": "The unique ID of the actor.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the actor response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/channel-accounts": {
   "get": {
    "tags": [
     "Public_Channel_Account"
    ],
    "summary": "Get channel accounts",
    "description": "Retrieve a list of channel accounts, with optional filters and sorting.",
    "operationId": "get-/conversations/v3/conversations/channel-accounts",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to include archived channel accounts in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "channelId",
      "in": "query",
      "description": "Limits results to channel accounts within a particular channel.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "format": "int32"
       }
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "The default number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "inboxId",
      "in": "query",
      "description": "Limits results to channel accounts within a particular inbox.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "format": "int32"
       }
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "The sort order for the channel accounts.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesCollectionResponseWithTotalPublicChannelAccountForwardPaging"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/channel-accounts/{channelAccountId}": {
   "get": {
    "tags": [
     "Public_Channel_Account"
    ],
    "summary": "Get a single channel account",
    "description": "Retrieve details of a single channel account using the channel account ID.",
    "operationId": "get-/conversations/v3/conversations/channel-accounts/{channelAccountId}",
    "parameters": [
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to include archived channel accounts in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "channelAccountId",
      "in": "path",
      "description": "The unique ID of the channel account.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicChannelAccount"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/channels": {
   "get": {
    "tags": [
     "Public_Channel"
    ],
    "summary": "Get channels",
    "description": "Retrieve a list of channels, with optional filters and sorting.",
    "operationId": "get-/conversations/v3/conversations/channels",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "The default number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Specify the sort order for the channels.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesCollectionResponseWithTotalPublicChannelForwardPaging"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/channels/{channelId}": {
   "get": {
    "tags": [
     "Public_Channel"
    ],
    "summary": "Get a single channel",
    "description": "Retrieve details of a single channel using the channel ID.",
    "operationId": "get-/conversations/v3/conversations/channels/{channelId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique ID of the channel.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicChannel"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/inboxes": {
   "get": {
    "tags": [
     "Public_Inbox"
    ],
    "summary": "Get conversations inboxes",
    "description": "Retrieve a list of conversations inboxes, with optional filters and sorting.",
    "operationId": "get-/conversations/v3/conversations/inboxes",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to include archived inboxes in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "The default number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Specify the sort order for the inboxes.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesCollectionResponseWithTotalPublicInboxForwardPaging"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/inboxes/{inboxId}": {
   "get": {
    "tags": [
     "Public_Inbox"
    ],
    "summary": "Get a single conversations inbox",
    "description": "Retrieve details of a single conversations inbox using the inbox ID.",
    "operationId": "get-/conversations/v3/conversations/inboxes/{inboxId}",
    "parameters": [
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to include archived inboxes in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "inboxId",
      "in": "path",
      "description": "The unique ID of the inbox.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicInbox"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/threads": {
   "get": {
    "tags": [
     "Public_Thread"
    ],
    "summary": "Get threads",
    "description": "Retrieve a list of threads, with optional filters and sorting.",
    "operationId": "get-/conversations/v3/conversations/threads",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "associatedContactId",
      "in": "query",
      "description": "Retrieve a filtered list of conversations for a specific contact by its ID. This parameter cannot be used in conjunction with the `inboxId` property.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     },
     {
      "name": "association",
      "in": "query",
      "description": "You can specify an association type here of `TICKET`. If this is set the response will included a thread associations object and associated ticket id if present. If there are no associations to a ticket with this conversation, then the thread associations object will not be present on the response. ",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "TICKET"
        ]
       }
      }
     },
     {
      "name": "inboxId",
      "in": "query",
      "description": "The ID of the conversations inbox you can optionally include to retrieve the associated messages for. This parameter cannot be used in conjunction with the `associatedContactId` property.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "format": "int32"
       }
      }
     },
     {
      "name": "latestMessageTimestampAfter",
      "in": "query",
      "description": "The minimum(earliest) `latestMessageTimestamp`. This is required only when sorting by `latestMessageTimestamp`.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the thread response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Set the sort order of the response. Valid options are `id` (default) and `latestMessageTimestamp` (which requires the `latestMessageTimestampAfter` field to also be set). If you’re filtering threads by `associatedContactId` , you can sort in descending order by prepending - to the sort option (e.g., `-id` or `-latestMessageTimestampAfter` ). Otherwise, results are always returned in ascending order.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "threadStatus",
      "in": "query",
      "description": "The status of the associated conversations to filter by (either `OPEN` or `CLOSED`). This property must be provided if you’re including the `associatedContactId` query parameter.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesCollectionResponsePublicThreadForwardPaging"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/threads/{threadId}": {
   "get": {
    "tags": [
     "Public_Thread"
    ],
    "summary": "Get a single thread",
    "description": "Retrieve a single thread by its ID",
    "operationId": "get-/conversations/v3/conversations/threads/{threadId}",
    "parameters": [
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived. Default is false.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "association",
      "in": "query",
      "description": "You can specify an association type here of `TICKET`. If this is set the response will included a thread associations object and associated ticket id if present. If there are no associations to a ticket with this conversation, then the thread associations object will not be present on the response. ",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "TICKET"
        ]
       }
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the thread response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThread"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Public_Thread"
    ],
    "summary": "Archives a thread",
    "description": "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
    "operationId": "delete-/conversations/v3/conversations/threads/{threadId}",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Public_Thread"
    ],
    "summary": "Update a thread",
    "description": "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
    "operationId": "patch-/conversations/v3/conversations/threads/{threadId}",
    "parameters": [
     {
      "name": "archived",
      "in": "query",
      "description": "Whether the thread to update is archived. Default is false. A thread's status property can not be updated if the thread is archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThreadUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThread"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/threads/{threadId}/messages": {
   "get": {
    "tags": [
     "Public_Message"
    ],
    "summary": "Get message history for a thread",
    "description": "Retrieve the message history for a specific thread.",
    "operationId": "get-/conversations/v3/conversations/threads/{threadId}/messages",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the message response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort direction. Valid options are `createdAt` (ascending), and `-createdAt` (descending, default)",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesCollectionResponsePublicMessageForwardPaging"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Public_Message"
    ],
    "summary": "Send a message to a thread",
    "description": "Send a new message on a thread at the current timestamp.",
    "operationId": "post-/conversations/v3/conversations/threads/{threadId}/messages",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsInboxMessagesPublicMessageEgg"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicMessage"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}": {
   "get": {
    "tags": [
     "Public_Message"
    ],
    "summary": "Get a single message",
    "description": "Retrieve a single message from a thread using the message ID.",
    "operationId": "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}",
    "parameters": [
     {
      "name": "messageId",
      "in": "path",
      "description": "The unique ID of the message.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the message response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicMessage"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content": {
   "get": {
    "tags": [
     "Public_Message"
    ],
    "summary": "Get the original content of a single message",
    "description": "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's `truncationStatus` is anything other than `NOT_TRUNCATED`.",
    "operationId": "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content",
    "parameters": [
     {
      "name": "messageId",
      "in": "path",
      "description": "The unique ID of the message.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "A specific property to include in the original content response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "The unique ID of the thread.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicMessageContent"
        }
       }
      }
     },
     "default": {
      "$ref": "#/components/responses/ConversationsInboxMessagesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/actors/batch/read": {
   "post": {
    "tags": [
     "Actors"
    ],
    "operationId": "post-/conversations/conversations/2026-09/actors/batch/read",
    "parameters": [
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsBatchInputString"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsBatchResponsePublicActor"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/actors/{actorId}": {
   "get": {
    "tags": [
     "Actors"
    ],
    "operationId": "get-/conversations/conversations/2026-09/actors/{actorId}",
    "parameters": [
     {
      "name": "actorId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicActor"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/channel-accounts": {
   "get": {
    "tags": [
     "Channel accounts"
    ],
    "operationId": "get-/conversations/conversations/2026-09/channel-accounts",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "channelId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "integer",
        "format": "int32",
        "example": null
       }
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "inboxId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "integer",
        "format": "int32",
        "example": null
       }
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsCollectionResponseWithTotalPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/channel-accounts/{channelAccountId}": {
   "get": {
    "tags": [
     "Channel accounts"
    ],
    "operationId": "get-/conversations/conversations/2026-09/channel-accounts/{channelAccountId}",
    "parameters": [
     {
      "name": "channelAccountId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/channels": {
   "get": {
    "tags": [
     "Channels"
    ],
    "operationId": "get-/conversations/conversations/2026-09/channels",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsCollectionResponseWithTotalPublicChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/channels/{channelId}": {
   "get": {
    "tags": [
     "Channels"
    ],
    "operationId": "get-/conversations/conversations/2026-09/channels/{channelId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/inboxes": {
   "get": {
    "tags": [
     "Inboxes"
    ],
    "operationId": "get-/conversations/conversations/2026-09/inboxes",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsCollectionResponseWithTotalPublicInbox"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/inboxes/{inboxId}": {
   "get": {
    "tags": [
     "Inboxes"
    ],
    "operationId": "get-/conversations/conversations/2026-09/inboxes/{inboxId}",
    "parameters": [
     {
      "name": "inboxId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicInbox"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads": {
   "get": {
    "tags": [
     "Threads"
    ],
    "operationId": "get-/conversations/conversations/2026-09/threads",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "associatedContactId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "associatedTicketId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "association",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null,
        "enum": [
         "TICKET"
        ]
       }
      }
     },
     {
      "name": "inboxId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "integer",
        "format": "int32",
        "example": null
       }
      }
     },
     {
      "name": "latestMessageTimestampAfter",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "format": "date-time",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     },
     {
      "name": "threadStatus",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "CLOSED",
        "OPEN"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsCollectionResponsePublicThreadForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads/{threadId}": {
   "get": {
    "tags": [
     "Threads"
    ],
    "operationId": "get-/conversations/conversations/2026-09/threads/{threadId}",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "association",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null,
        "enum": [
         "TICKET"
        ]
       }
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicThread"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Threads"
    ],
    "operationId": "delete-/conversations/conversations/2026-09/threads/{threadId}",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Threads"
    ],
    "operationId": "patch-/conversations/conversations/2026-09/threads/{threadId}",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsPublicThreadUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicThread"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads/{threadId}/assignee": {
   "put": {
    "tags": [
     "Basic"
    ],
    "operationId": "put-/conversations/conversations/2026-09/threads/{threadId}/assignee_/conversations/conversations/2026-09/threads/{threadId}/assignee",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsPublicThreadAssignRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicThread"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "operationId": "delete-/conversations/conversations/2026-09/threads/{threadId}/assignee_/conversations/conversations/2026-09/threads/{threadId}/assignee",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads/{threadId}/messages": {
   "get": {
    "tags": [
     "Threads"
    ],
    "operationId": "get-/conversations/conversations/2026-09/threads/{threadId}/messages",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsCollectionResponsePublicMessageForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Threads"
    ],
    "operationId": "post-/conversations/conversations/2026-09/threads/{threadId}/messages",
    "parameters": [
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversationsPublicMessageEgg"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicMessage"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.write"
      ]
     },
     {
      "private_apps": [
       "conversations.write"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads/{threadId}/messages/{messageId}": {
   "get": {
    "tags": [
     "Messages"
    ],
    "operationId": "get-/conversations/conversations/2026-09/threads/{threadId}/messages/{messageId}",
    "parameters": [
     {
      "name": "messageId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicMessage"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/conversations/2026-09/threads/{threadId}/messages/{messageId}/original-content": {
   "get": {
    "tags": [
     "Messages"
    ],
    "operationId": "get-/conversations/conversations/2026-09/threads/{threadId}/messages/{messageId}/original-content",
    "parameters": [
     {
      "name": "messageId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "threadId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "property",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversationsPublicMessageContent"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ConversationsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.read"
      ]
     },
     {
      "private_apps": [
       "conversations.read"
      ]
     }
    ]
   }
  },
  "/conversations/custom-channels/2026-09": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List Channels",
    "description": "Retrieve a list of custom conversation channels for the specified version. This endpoint allows you to paginate through the results and sort them according to your preferences.",
    "operationId": "get-/conversations/custom-channels/2026-09_/conversations/custom-channels/v3",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "The default number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "An array of fields to sort the results by.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsCollectionResponseWithTotalPublicChannelIntegrationChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": []
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create",
    "description": "Create a new custom channel integration in your HubSpot account. This endpoint allows you to define the capabilities and properties of the custom channel, such as its name, description, and webhook URL. The request must include a JSON body with the necessary details for the new channel integration.",
    "operationId": "post-/conversations/custom-channels/2026-09_/conversations/custom-channels/v3",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationChannelCreate"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": []
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}": {
   "get": {
    "tags": [
     "Channels"
    ],
    "summary": "Get a custom channel",
    "description": "Retrieve the details about a custom channel. This API allows you to see a custom channel's current capabilties and other configuration metadata",
    "operationId": "get-/conversations/custom-channels/2026-09/{channelId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel to retrieve. It is an integer value.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": []
   },
   "delete": {
    "tags": [
     "Channels"
    ],
    "summary": "Archive a custom channel",
    "description": "Archive an existing registered custom channel",
    "operationId": "delete-/conversations/custom-channels/2026-09/{channelId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": []
   },
   "patch": {
    "tags": [
     "Channels"
    ],
    "summary": "Update a custom channel",
    "description": "Update the capabilities for an existing. You can also use it to update the channel's webhookUri and its channelAccountConnectionRedirectUrl.",
    "operationId": "patch-/conversations/custom-channels/2026-09/{channelId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationChannelPatch"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationChannel"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": []
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}/channel-account-staging-tokens/{accountToken}": {
   "patch": {
    "tags": [
     "Channel accounts"
    ],
    "summary": "Update a channel account staging token",
    "description": "Update a channel account staging token's account name and delivery identifier. This information will be applied to the channel account created from this staging token. This is used for public apps.",
    "operationId": "patch-/conversations/custom-channels/2026-09/{channelId}/channel-account-staging-tokens/{accountToken}",
    "parameters": [
     {
      "name": "accountToken",
      "in": "path",
      "description": "The unique token of the channel account staging to be updated.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom conversation channel.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelAccountStagingTokenUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelAccountStagingToken"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     },
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}/channel-accounts": {
   "get": {
    "tags": [
     "Channel accounts"
    ],
    "summary": "Get accounts for a channel",
    "description": "Retrieve a list of accounts for a custom channel.",
    "operationId": "get-/conversations/custom-channels/2026-09/{channelId}/channel-accounts",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the channel for which to list the accounts.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "defaultPageLength",
      "in": "query",
      "description": "The default number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "deliveryIdentifierType",
      "in": "query",
      "description": "An array of delivery identifier types to filter the results. Valid values include HS_EMAIL_ADDRESS, HS_PHONE_NUMBER, HS_SHORT_CODE, and CHANNEL_SPECIFIC_OPAQUE_ID.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null,
        "enum": [
         "HS_EMAIL_ADDRESS",
         "HS_PHONE_NUMBER",
         "HS_SHORT_CODE",
         "CHANNEL_SPECIFIC_OPAQUE_ID"
        ]
       }
      }
     },
     {
      "name": "deliveryIdentifierValue",
      "in": "query",
      "description": "An array of delivery identifier values to filter the results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "An array specifying the sort order of the results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsCollectionResponseWithTotalPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     },
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Channel accounts"
    ],
    "summary": "Create a channel account",
    "description": "Create a new account for a channel. Multiple accounts can communicate over a single channel using different delivery identifiers.",
    "operationId": "post-/conversations/custom-channels/2026-09/{channelId}/channel-accounts",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel for which the channel account is being created.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelAccountEgg"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     },
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}/channel-accounts/{channelAccountId}": {
   "get": {
    "tags": [
     "Channels"
    ],
    "summary": "Get a channel account by id",
    "description": "Retrieve the details for a specific channel account. This contains all the metadata about your channel account, including its channel, associated inbox id, and delivery identifier information.",
    "operationId": "get-/conversations/custom-channels/2026-09/{channelId}/channel-accounts/{channelAccountId}",
    "parameters": [
     {
      "name": "channelAccountId",
      "in": "path",
      "description": "The unique identifier of the channel account to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     },
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Channel accounts"
    ],
    "summary": "Update a channel account",
    "description": "This API is used to update the name of the channel account and it's isAuthorized status. Setting to isAuthorized flag to False disables the channel account.",
    "operationId": "patch-/conversations/custom-channels/2026-09/{channelId}/channel-accounts/{channelAccountId}",
    "parameters": [
     {
      "name": "channelAccountId",
      "in": "path",
      "description": "The unique identifier of the channel account to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel to which the account belongs.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelAccountUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicChannelAccount"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     },
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}/messages": {
   "post": {
    "tags": [
     "Messages"
    ],
    "summary": "Publish a message",
    "description": "Publish a message over your custom channel",
    "operationId": "post-/conversations/custom-channels/2026-09/{channelId}/messages",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel where the message will be created.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsChannelIntegrationMessageEgg"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicConversationsMessage"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   }
  },
  "/conversations/custom-channels/2026-09/{channelId}/messages/{messageId}": {
   "get": {
    "tags": [
     "Messages"
    ],
    "summary": "Get a message",
    "description": "Get the details for a specific message sent over a custom channel",
    "operationId": "get-/conversations/custom-channels/2026-09/{channelId}/messages/{messageId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel from which the message is to be retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "messageId",
      "in": "path",
      "description": "The unique identifier of the message to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicConversationsMessage"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Messages"
    ],
    "summary": "Update a message ",
    "description": "Update a message's status to indicate if it was successfully sent, failed to send, or was read. For failed messages, this can also include the error message for the failure.",
    "operationId": "patch-/conversations/custom-channels/2026-09/{channelId}/messages/{messageId}",
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "description": "The unique identifier of the custom channel that contains the message.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "messageId",
      "in": "path",
      "description": "The unique identifier of the message to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CustomChannelsPublicChannelIntegrationMessageUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomChannelsPublicConversationsMessage"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/CustomChannelsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.custom_channels.write"
      ]
     }
    ]
   }
  },
  "/visitor-identification/2026-09/tokens/create": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Generate visitor token",
    "description": "Generate an identification token for a website visitor who has been authenticated using your own system. An identification token returned from this API can be used to pass information about your already-authenticated visitor to the chat widget, so that it treats the visitor as a known contact. This allows support agents to recognize and assist the visitor more effectively.",
    "operationId": "post-/visitor-identification/2026-09/tokens/create_generateToken",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/VisitorIdentificationIdentificationTokenGenerationRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/VisitorIdentificationIdentificationTokenResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/VisitorIdentificationError"
     }
    },
    "security": [
     {
      "oauth2": [
       "conversations.visitor_identification.tokens.create"
      ]
     }
    ]
   }
  }
 },
 "components": {
  "securitySchemes": {
   "oauth2": {
    "type": "oauth2",
    "flows": {
     "authorizationCode": {
      "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
      "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
      "scopes": {
       "conversations.read": "Read from conversations",
       "conversations.write": "Write to conversations"
      }
     }
    }
   },
   "private_apps": {
    "type": "apiKey",
    "name": "private-app",
    "in": "header"
   },
   "developer_hapikey": {
    "type": "apiKey",
    "name": "hapikey",
    "in": "query"
   },
   "private_apps_legacy": {
    "type": "apiKey",
    "name": "private-app-legacy",
    "in": "header"
   }
  },
  "schemas": {
   "ConversationsInboxMessagesAgentActor": {
    "properties": {},
    "allOf": [
     {
      "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
     },
     {
      "required": [
       "id",
       "type"
      ],
      "type": "object",
      "properties": {
       "type": {
        "type": "string",
        "default": "AGENT",
        "enum": [
         "AGENT"
        ]
       },
       "id": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "email": {
        "type": "string"
       },
       "avatar": {
        "type": "string"
       }
      },
      "x-hubspot-sub-type-impl": true
     }
    ]
   },
   "ConversationsInboxMessagesBatchInputString": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "ConversationsInboxMessagesBatchResponsePublicActor": {
    "required": [
     "completedAt",
     "results",
     "startedAt",
     "status"
    ],
    "type": "object",
    "properties": {
     "completedAt": {
      "type": "string",
      "format": "date-time"
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string"
      }
     },
     "requestedAt": {
      "type": "string",
      "format": "date-time"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
      }
     },
     "startedAt": {
      "type": "string",
      "format": "date-time"
     },
     "status": {
      "type": "string",
      "enum": [
       "CANCELED",
       "COMPLETE",
       "PENDING",
       "PROCESSING"
      ]
     }
    }
   },
   "ConversationsInboxMessagesBatchResponsePublicActorWithErrors": {
    "required": [
     "completedAt",
     "results",
     "startedAt",
     "status"
    ],
    "type": "object",
    "properties": {
     "completedAt": {
      "type": "string",
      "format": "date-time"
     },
     "errors": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesStandardError"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string"
      }
     },
     "numErrors": {
      "type": "integer",
      "format": "int32"
     },
     "requestedAt": {
      "type": "string",
      "format": "date-time"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
      }
     },
     "startedAt": {
      "type": "string",
      "format": "date-time"
     },
     "status": {
      "type": "string",
      "enum": [
       "CANCELED",
       "COMPLETE",
       "PENDING",
       "PROCESSING"
      ]
     }
    }
   },
   "ConversationsInboxMessagesBotActor": {
    "properties": {},
    "allOf": [
     {
      "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
     },
     {
      "required": [
       "id",
       "type"
      ],
      "type": "object",
      "properties": {
       "type": {
        "type": "string",
        "default": "BOT",
        "enum": [
         "BOT"
        ]
       },
       "id": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "avatar": {
        "type": "string"
       }
      },
      "x-hubspot-sub-type-impl": true
     }
    ]
   },
   "ConversationsInboxMessagesCollectionResponsePublicMessageForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesForwardPaging"
     },
     "results": {
      "type": "array",
      "items": {
       "oneOf": [
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicConversationsMessage"
        },
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicComment"
        },
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicWelcomeMessage"
        },
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicAssignmentMessage"
        },
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThreadStatusChange"
        },
        {
         "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThreadInboxChange"
        }
       ]
      }
     }
    }
   },
   "ConversationsInboxMessagesCollectionResponsePublicThreadForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesForwardPaging"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicThread"
      }
     }
    }
   },
   "ConversationsInboxMessagesCollectionResponseWithTotalPublicChannelAccountForwardPaging": {
    "required": [
     "results",
     "total"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesForwardPaging"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicChannelAccount"
      }
     },
     "total": {
      "type": "integer",
      "format": "int32"
     }
    }
   },
   "ConversationsInboxMessagesCollectionResponseWithTotalPublicChannelForwardPaging": {
    "required": [
     "results",
     "total"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesForwardPaging"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicChannel"
      }
     },
     "total": {
      "type": "integer",
      "format": "int32"
     }
    }
   },
   "ConversationsInboxMessagesCollectionResponseWithTotalPublicInboxForwardPaging": {
    "required": [
     "results",
     "total"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesForwardPaging"
     },
     "results": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesPublicInbox"
      }
     },
     "total": {
      "type": "integer",
      "format": "int32"
     }
    }
   },
   "ConversationsInboxMessagesContactAddress": {
    "type": "object",
    "properties": {
     "city": {
      "type": "string"
     },
     "country": {
      "type": "string"
     },
     "countryCode": {
      "type": "string"
     },
     "state": {
      "type": "string"
     },
     "street": {
      "type": "string"
     },
     "type": {
      "type": "string",
      "enum": [
       "HOME",
       "WORK"
      ]
     },
     "zip": {
      "type": "string"
     }
    }
   },
   "ConversationsInboxMessagesContactEmail": {
    "required": [
     "email"
    ],
    "type": "object",
    "properties": {
     "email": {
      "type": "string"
     },
     "type": {
      "type": "string",
      "enum": [
       "HOME",
       "WORK"
      ]
     }
    }
   },
   "ConversationsInboxMessagesContactName": {
    "type": "object",
    "properties": {
     "firstName": {
      "type": "string"
     },
     "lastName": {
      "type": "string"
     },
     "middleName": {
      "type": "string"
     },
     "prefix": {
      "type": "string"
     },
     "suffix": {
      "type": "string"
     }
    }
   },
   "ConversationsInboxMessagesContactOrg": {
    "type": "object",
    "properties": {
     "company": {
      "type": "string"
     },
     "department": {
      "type": "string"
     },
     "title": {
      "type": "string"
     }
    }
   },
   "ConversationsInboxMessagesContactPhone": {
    "required": [
     "phone"
    ],
    "type": "object",
    "properties": {
     "phone": {
      "type": "string"
     },
     "type": {
      "type": "string",
      "enum": [
       "CELL",
       "HOME",
       "MAIN",
       "WORK"
      ]
     }
    }
   },
   "ConversationsInboxMessagesContactProfile": {
    "required": [
     "addresses",
     "emails",
     "phones",
     "urls"
    ],
    "type": "object",
    "properties": {
     "addresses": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesContactAddress"
      }
     },
     "emails": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesContactEmail"
      }
     },
     "name": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesContactName"
     },
     "org": {
      "$ref": "#/components/schemas/ConversationsInboxMessagesContactOrg"
     },
     "phones": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesContactPhone"
      }
     },
     "urls": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ConversationsInboxMessagesContactUrl"
      }
     }
    }
   },
   "ConversationsInboxMessagesContactUrl": {
    "required": [
     "url"
    ],
    "type": "object",
    "properties": {
     "type": {
      "type": "string",
      "enum": [
       "HOME",
       "WORK"
      ]
     },
     "url": {
      "type": "string"
     }
    }
   },
   "ConversationsInboxMessagesEmailActor": {
    "properties": {},
    "allOf": [
     {
      "$ref": "#/components/schemas/ConversationsInboxMessagesPublicActor"
     },
     {
      "required": [
       "email",
       "id",
       "type"
      ],
      "type": "object",
[...]
